fianlfianl.json
{
  "name": "Google Maps Email Outreach & Follow-up with Apify",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 9 * * *"
            }
          ]
        }
      },
      "id": "schedule-trigger",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "actor": "nwua9Gu5YrADL7ZDj",
        "input": {
          "searchStringsArray": [
            "real estate agents in New York, USA",
            "restaurants in Los Angeles, USA",
            "dentists in Chicago, USA"
          ],
          "maxCrawledPlacesPerSearch": 50,
          "language": "en",
          "maxReviews": 0,
          "maxImages": 0,
          "includeWebResults": false,
          "scrapeReviewerName": false,
          "scrapeReviewerUrl": false,
          "scrapeResponseFromOwnerText": false,
          "deeperCityScrape": false
        },
        "options": {}
      },
      "id": "apify-scraper",
      "name": "Apify Google Maps Scraper",
      "type": "n8n-nodes-base.apify",
      "typeVersion": 1,
      "position": [450, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "has-email",
              "leftValue": "={{ $json.email }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists"
              }
            },
            {
              "id": "email-not-empty",
              "leftValue": "={{ $json.email }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "filter-has-email",
      "name": "Filter - Has Email",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [650, 300]
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "YOUR_GOOGLE_SHEET_ID",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Sheet1",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Name": "={{ $json.title }}",
            "Email": "={{ $json.email }}",
            "Phone": "={{ $json.phone }}",
            "Address": "={{ $json.address }}",
            "Website": "={{ $json.website }}",
            "Category": "={{ $json.categoryName }}",
            "Rating": "={{ $json.totalScore }}",
            "Reviews": "={{ $json.reviewsCount }}",
            "Status": "Initial Email Sent",
            "First Contact": "={{ $now.toISO() }}",
            "Last Contact": "={{ $now.toISO() }}",
            "Follow-up Count": "0",
            "Reply Status": "No Reply",
            "Google Maps URL": "={{ $json.url }}"
          }
        },
        "options": {}
      },
      "id": "add-to-sheet",
      "name": "Add to Google Sheet",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [850, 200]
    },
    {
      "parameters": {
        "sendTo": "={{ $json.email }}",
        "subject": "Quick Question About {{ $json.title }}",
        "message": "=Hi there,\n\nI came across {{ $json.title }} on Google Maps and was impressed by your {{ $json.totalScore }}-star rating!\n\n[Your value proposition here - customize this template]\n\nI help businesses like yours [specific benefit]. Would you be interested in a quick 15-minute call to discuss how we can help {{ $json.title }}?\n\nLooking forward to connecting!\n\nBest regards,\n[Your Name]\n[Your Company]\n[Your Phone]",
        "options": {
          "emailFormat": "html",
          "appendAttribution": false
        }
      },
      "id": "send-initial-email",
      "name": "Send Initial Outreach",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2,
      "position": [1050, 200]
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 10 * * *"
            }
          ]
        }
      },
      "id": "followup-trigger",
      "name": "Follow-up Check Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [250, 700]
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "operation": "getAll",
        "documentId": {
          "__rl": true,
          "value": "YOUR_GOOGLE_SHEET_ID",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Sheet1",
          "mode": "name"
        },
        "options": {
          "range": "A:N"
        }
      },
      "id": "read-sheet",
      "name": "Read Google Sheet",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [450, 700]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "not-replied",
              "leftValue": "={{ $json['Reply Status'] }}",
              "rightValue": "No Reply",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            },
            {
              "id": "not-closed",
              "leftValue": "={{ $json.Status }}",
              "rightValue": "Closed",
              "operator": {
                "type": "string",
                "operation": "notContains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "filter-no-reply",
      "name": "Filter - No Reply",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [650, 700]
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "filters": {
          "from": "={{ $json.Email }}",
          "readStatus": "unread"
        },
        "options": {}
      },
      "id": "check-replies",
      "name": "Check Email Replies",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2,
      "position": [850, 600]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "has-reply",
              "leftValue": "={{ $json.from }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if-reply",
      "name": "Has Reply?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1050, 600]
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "YOUR_GOOGLE_SHEET_ID",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Sheet1",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Reply Status": "Replied",
            "Last Contact": "={{ $now.toISO() }}",
            "Status": "Reply Received - Follow Up!"
          },
          "matchingColumns": [
            "Email"
          ]
        },
        "options": {}
      },
      "id": "update-replied",
      "name": "Update Sheet - Replied",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [1250, 500]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "day1",
              "leftValue": "={{ $json['Follow-up Count'] }}",
              "rightValue": "0",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            },
            {
              "id": "check-days",
              "leftValue": "={{ Math.floor(($now.toMillis() - new Date($json['Last Contact']).getTime()) / (1000 * 60 * 60 * 24)) }}",
              "rightValue": "1",
              "operator": {
                "type": "number",
                "operation": "gte"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "check-day1",
      "name": "Day 1 Follow-up?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1050, 800]
    },
    {
      "parameters": {
        "sendTo": "={{ $json.Email }}",
        "subject": "Re: Quick Question About {{ $json.Name }}",
        "message": "=Hi there,\n\nJust following up on my previous email about {{ $json.Name }}.\n\nI understand you're busy running your business, but I genuinely believe we can help you [specific benefit].\n\nWould you have just 10 minutes this week for a quick chat? I promise to keep it brief and valuable.\n\nBest,\n[Your Name]\n[Your Company]\n[Your Phone]",
        "options": {
          "emailFormat": "html",
          "appendAttribution": false
        }
      },
      "id": "send-followup1",
      "name": "Send Day 1 Follow-up",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2,
      "position": [1250, 750]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "day3",
              "leftValue": "={{ $json['Follow-up Count'] }}",
              "rightValue": "1",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            },
            {
              "id": "check-days",
              "leftValue": "={{ Math.floor(($now.toMillis() - new Date($json['Last Contact']).getTime()) / (1000 * 60 * 60 * 24)) }}",
              "rightValue": "3",
              "operator": {
                "type": "number",
                "operation": "gte"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "check-day3",
      "name": "Day 3 Follow-up?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1050, 1000]
    },
    {
      "parameters": {
        "sendTo": "={{ $json.Email }}",
        "subject": "Re: Quick Question About {{ $json.Name }}",
        "message": "=Hi there,\n\nI wanted to reach out one more time about {{ $json.Name }}.\n\nI've worked with similar {{ $json.Category }} businesses in {{ $json.Address.split(',').pop().trim() }}, and we've helped them [specific result/benefit].\n\nQuick question: Are you the right person to discuss this, or should I connect with someone else on your team?\n\nThanks!\n[Your Name]\n[Your Company]\n[Your Phone]",
        "options": {
          "emailFormat": "html",
          "appendAttribution": false
        }
      },
      "id": "send-followup3",
      "name": "Send Day 3 Follow-up",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2,
      "position": [1250, 950]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "day5",
              "leftValue": "={{ $json['Follow-up Count'] }}",
              "rightValue": "2",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            },
            {
              "id": "check-days",
              "leftValue": "={{ Math.floor(($now.toMillis() - new Date($json['Last Contact']).getTime()) / (1000 * 60 * 60 * 24)) }}",
              "rightValue": "5",
              "operator": {
                "type": "number",
                "operation": "gte"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "check-day5",
      "name": "Day 5 Follow-up?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1050, 1200]
    },
    {
      "parameters": {
        "sendTo": "={{ $json.Email }}",
        "subject": "Re: {{ $json.Name }} - Last note from me",
        "message": "=Hi there,\n\nThis is my last follow-up email.\n\nI completely understand if {{ $json.Name }} isn't interested right now or if the timing isn't right.\n\nIf things change in the future, feel free to reach out anytime. My door is always open.\n\nBest wishes for continued success with {{ $json.Name }}!\n\nBest,\n[Your Name]\n[Your Company]\n[Your Phone]",
        "options": {
          "emailFormat": "html",
          "appendAttribution": false
        }
      },
      "id": "send-followup5",
      "name": "Send Day 5 Follow-up",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2,
      "position": [1250, 1150]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "day7",
              "leftValue": "={{ $json['Follow-up Count'] }}",
              "rightValue": "3",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            },
            {
              "id": "check-days",
              "leftValue": "={{ Math.floor(($now.toMillis() - new Date($json['Last Contact']).getTime()) / (1000 * 60 * 60 * 24)) }}",
              "rightValue": "7",
              "operator": {
                "type": "number",
                "operation": "gte"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "check-day7",
      "name": "Day 7 Final?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1050, 1400]
    },
    {
      "parameters": {
        "sendTo": "={{ $json.Email }}",
        "subject": "Thank you - {{ $json.Name }}",
        "message": "=Hi there,\n\nI just wanted to send a final thank you note.\n\nEven though we didn't get a chance to connect, I appreciate you taking the time to consider my outreach.\n\nI wish you and {{ $json.Name }} continued success. If our paths cross in the future, I'd love to help.\n\nAll the best!\n\n[Your Name]\n[Your Company]\n[Your Phone]",
        "options": {
          "emailFormat": "html",
          "appendAttribution": false
        }
      },
      "id": "send-thankyou",
      "name": "Send Thank You",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2,
      "position": [1250, 1350]
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "YOUR_GOOGLE_SHEET_ID",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Sheet1",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Follow-up Count": "={{ parseInt($json['Follow-up Count']) + 1 }}",
            "Last Contact": "={{ $now.toISO() }}",
            "Status": "Follow-up {{ parseInt($json['Follow-up Count']) + 1 }} Sent"
          },
          "matchingColumns": [
            "Email"
          ]
        },
        "options": {}
      },
      "id": "update-followup",
      "name": "Update Follow-up Count",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [1450, 1000]
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "YOUR_GOOGLE_SHEET_ID",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Sheet1",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Status": "Closed - No Response",
            "Last Contact": "={{ $now.toISO() }}",
            "Follow-up Count": "4"
          },
          "matchingColumns": [
            "Email"
          ]
        },
        "options": {}
      },
      "id": "update-closed",
      "name": "Update Sheet - Closed",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [1450, 1350]
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Apify Google Maps Scraper",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Apify Google Maps Scraper": {
      "main": [
        [
          {
            "node": "Filter - Has Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter - Has Email": {
      "main": [
        [
          {
            "node": "Add to Google Sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add to Google Sheet": {
      "main": [
        [
          {
            "node": "Send Initial Outreach",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Follow-up Check Trigger": {
      "main": [
        [
          {
            "node": "Read Google Sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Google Sheet": {
      "main": [
        [
          {
            "node": "Filter - No Reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter - No Reply": {
      "main": [
        [
          {
            "node": "Check Email Replies",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Email Replies": {
      "main": [
        [
          {
            "node": "Has Reply?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Reply?": {
      "main": [
        [
          {
            "node": "Update Sheet - Replied",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Day 1 Follow-up?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Day 1 Follow-up?": {
      "main": [
        [
          {
            "node": "Send Day 1 Follow-up",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Day 3 Follow-up?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Day 1 Follow-up": {
      "main": [
        [
          {
            "node": "Update Follow-up Count",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Day 3 Follow-up?": {
      "main": [
        [
          {
            "node": "Send Day 3 Follow-up",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Day 5 Follow-up?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Day 3 Follow-up": {
      "main": [
        [
          {
            "node": "Update Follow-up Count",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Day 5 Follow-up?": {
      "main": [
        [
          {
            "node": "Send Day 5 Follow-up",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Day 7 Final?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Day 5 Follow-up": {
      "main": [
        [
          {
            "node": "Update Follow-up Count",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Day 7 Final?": {
      "main": [
        [
          {
            "node": "Send Thank You",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Thank You": {
      "main": [
        [
          {
            "node": "Update Sheet - Closed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 2,
  "updatedAt": "2025-11-21T00:00:00.000Z",
  "versionId": "1"
}
