finalconsultant.json
{
  "name": "Apollo Google Maps Email Outreach & Follow-up",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 9 * * *"
            }
          ]
        }
      },
      "id": "schedule-trigger",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "url": "https://api.apollo.io/v1/mixed_people/search",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "apolloApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "api_key",
              "value": "={{$credentials.apiKey}}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"q_organization_locations\": [\"United States\"],\n  \"page\": 1,\n  \"per_page\": 50,\n  \"person_titles\": [\"CEO\", \"Founder\", \"Owner\", \"Director\"],\n  \"organization_num_employees_ranges\": [\"1,10\", \"11,50\"]\n}",
        "options": {}
      },
      "id": "apollo-search",
      "name": "Apollo Search US Leads",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [450, 300]
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "YOUR_GOOGLE_SHEET_ID",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Sheet1",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Name": "={{ $json.name }}",
            "Email": "={{ $json.email }}",
            "Company": "={{ $json.organization_name }}",
            "Title": "={{ $json.title }}",
            "Status": "Initial Email Sent",
            "First Contact": "={{ $now.toISO() }}",
            "Last Contact": "={{ $now.toISO() }}",
            "Follow-up Count": "0",
            "Reply Status": "No Reply"
          }
        },
        "options": {}
      },
      "id": "add-to-sheet",
      "name": "Add to Google Sheet",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [650, 300]
    },
    {
      "parameters": {
        "fromEmail": "your-email@domain.com",
        "toEmail": "={{ $json.email }}",
        "subject": "Quick Question About {{ $json.organization_name }}",
        "emailType": "html",
        "message": "=Hi {{ $json.first_name }},\n\nI noticed {{ $json.organization_name }} and wanted to reach out.\n\n[Your value proposition here - customize this template]\n\nWould you be open to a quick 15-minute call this week?\n\nBest regards,\n[Your Name]",
        "options": {}
      },
      "id": "send-initial-email",
      "name": "Send Initial Outreach",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2,
      "position": [850, 300]
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 10 * * *"
            }
          ]
        }
      },
      "id": "followup-trigger",
      "name": "Follow-up Check Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [250, 600]
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "operation": "getAll",
        "documentId": {
          "__rl": true,
          "value": "YOUR_GOOGLE_SHEET_ID",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Sheet1",
          "mode": "name"
        },
        "options": {}
      },
      "id": "read-sheet",
      "name": "Read Google Sheet",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [450, 600]
    },
    {
      "parameters": {
        "mailbox": "INBOX",
        "format": "simple",
        "options": {
          "filter": {
            "from": "={{ $json.Email }}"
          }
        }
      },
      "id": "check-replies",
      "name": "Check Email Replies",
      "type": "n8n-nodes-base.emailReadImap",
      "typeVersion": 2,
      "position": [650, 600]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "has-reply",
              "leftValue": "={{ $json.from }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if-reply",
      "name": "Has Reply?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [850, 600]
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "YOUR_GOOGLE_SHEET_ID",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Sheet1",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Reply Status": "Replied",
            "Last Contact": "={{ $now.toISO() }}",
            "Status": "Reply Received"
          }
        },
        "options": {}
      },
      "id": "update-replied",
      "name": "Update Sheet - Replied",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [1050, 500]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "day1",
              "leftValue": "={{ $json['Follow-up Count'] }}",
              "rightValue": "0",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            },
            {
              "id": "check-days",
              "leftValue": "={{ Math.floor(($now.toMillis() - new Date($json['Last Contact']).getTime()) / (1000 * 60 * 60 * 24)) }}",
              "rightValue": "1",
              "operator": {
                "type": "number",
                "operation": "gte"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "check-day1",
      "name": "Day 1 Follow-up?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1050, 700]
    },
    {
      "parameters": {
        "fromEmail": "your-email@domain.com",
        "toEmail": "={{ $json.Email }}",
        "subject": "Re: Quick Question About {{ $json.Company }}",
        "emailType": "html",
        "message": "=Hi {{ $json.Name.split(' ')[0] }},\n\nJust following up on my previous email. \n\nI understand you're busy, but I believe this could really benefit {{ $json.Company }}.\n\nWould you have 10 minutes this week for a quick chat?\n\nBest,\n[Your Name]",
        "options": {}
      },
      "id": "send-followup1",
      "name": "Send Day 1 Follow-up",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2,
      "position": [1250, 650]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "day3",
              "leftValue": "={{ $json['Follow-up Count'] }}",
              "rightValue": "1",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            },
            {
              "id": "check-days",
              "leftValue": "={{ Math.floor(($now.toMillis() - new Date($json['Last Contact']).getTime()) / (1000 * 60 * 60 * 24)) }}",
              "rightValue": "3",
              "operator": {
                "type": "number",
                "operation": "gte"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "check-day3",
      "name": "Day 3 Follow-up?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1050, 900]
    },
    {
      "parameters": {
        "fromEmail": "your-email@domain.com",
        "toEmail": "={{ $json.Email }}",
        "subject": "Re: Quick Question About {{ $json.Company }}",
        "emailType": "html",
        "message": "=Hi {{ $json.Name.split(' ')[0] }},\n\nI wanted to circle back one more time.\n\nI've helped companies like {{ $json.Company }} [specific benefit].\n\nAre you the right person to discuss this, or should I connect with someone else on your team?\n\nThanks,\n[Your Name]",
        "options": {}
      },
      "id": "send-followup3",
      "name": "Send Day 3 Follow-up",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2,
      "position": [1250, 850]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "day5",
              "leftValue": "={{ $json['Follow-up Count'] }}",
              "rightValue": "2",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            },
            {
              "id": "check-days",
              "leftValue": "={{ Math.floor(($now.toMillis() - new Date($json['Last Contact']).getTime()) / (1000 * 60 * 60 * 24)) }}",
              "rightValue": "5",
              "operator": {
                "type": "number",
                "operation": "gte"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "check-day5",
      "name": "Day 5 Follow-up?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1050, 1100]
    },
    {
      "parameters": {
        "fromEmail": "your-email@domain.com",
        "toEmail": "={{ $json.Email }}",
        "subject": "Re: Quick Question About {{ $json.Company }}",
        "emailType": "html",
        "message": "=Hi {{ $json.Name.split(' ')[0] }},\n\nLast check-in from me.\n\nIf this isn't a priority right now, I completely understand.\n\nWould it make sense to reconnect in a few months?\n\nBest,\n[Your Name]",
        "options": {}
      },
      "id": "send-followup5",
      "name": "Send Day 5 Follow-up",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2,
      "position": [1250, 1050]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "day7",
              "leftValue": "={{ $json['Follow-up Count'] }}",
              "rightValue": "3",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            },
            {
              "id": "check-days",
              "leftValue": "={{ Math.floor(($now.toMillis() - new Date($json['Last Contact']).getTime()) / (1000 * 60 * 60 * 24)) }}",
              "rightValue": "7",
              "operator": {
                "type": "number",
                "operation": "gte"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "check-day7",
      "name": "Day 7 Final?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1050, 1300]
    },
    {
      "parameters": {
        "fromEmail": "your-email@domain.com",
        "toEmail": "={{ $json.Email }}",
        "subject": "Thank you - {{ $json.Company }}",
        "emailType": "html",
        "message": "=Hi {{ $json.Name.split(' ')[0] }},\n\nI appreciate your time, even if the timing wasn't right.\n\nIf things change in the future, feel free to reach out.\n\nWishing you and {{ $json.Company }} all the best!\n\nBest regards,\n[Your Name]",
        "options": {}
      },
      "id": "send-thankyou",
      "name": "Send Thank You",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2,
      "position": [1250, 1250]
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "YOUR_GOOGLE_SHEET_ID",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Sheet1",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Follow-up Count": "={{ parseInt($json['Follow-up Count']) + 1 }}",
            "Last Contact": "={{ $now.toISO() }}",
            "Status": "Follow-up Sent"
          }
        },
        "options": {}
      },
      "id": "update-followup",
      "name": "Update Follow-up Count",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [1450, 900]
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "YOUR_GOOGLE_SHEET_ID",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Sheet1",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Status": "Closed - No Response",
            "Last Contact": "={{ $now.toISO() }}"
          }
        },
        "options": {}
      },
      "id": "update-closed",
      "name": "Update Sheet - Closed",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [1450, 1250]
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Apollo Search US Leads",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Apollo Search US Leads": {
      "main": [
        [
          {
            "node": "Add to Google Sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add to Google Sheet": {
      "main": [
        [
          {
            "node": "Send Initial Outreach",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Follow-up Check Trigger": {
      "main": [
        [
          {
            "node": "Read Google Sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Google Sheet": {
      "main": [
        [
          {
            "node": "Check Email Replies",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Email Replies": {
      "main": [
        [
          {
            "node": "Has Reply?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Reply?": {
      "main": [
        [
          {
            "node": "Update Sheet - Replied",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Day 1 Follow-up?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Day 1 Follow-up?": {
      "main": [
        [
          {
            "node": "Send Day 1 Follow-up",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Day 3 Follow-up?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Day 1 Follow-up": {
      "main": [
        [
          {
            "node": "Update Follow-up Count",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Day 3 Follow-up?": {
      "main": [
        [
          {
            "node": "Send Day 3 Follow-up",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Day 5 Follow-up?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Day 3 Follow-up": {
      "main": [
        [
          {
            "node": "Update Follow-up Count",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Day 5 Follow-up?": {
      "main": [
        [
          {
            "node": "Send Day 5 Follow-up",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Day 7 Final?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Day 5 Follow-up": {
      "main": [
        [
          {
            "node": "Update Follow-up Count",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Day 7 Final?": {
      "main": [
        [
          {
            "node": "Send Thank You",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Thank You": {
      "main": [
        [
          {
            "node": "Update Sheet - Closed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 2,
  "updatedAt": "2025-11-21T00:00:00.000Z",
  "versionId": "1"
}
