onpageseo.json
{
  "name": "Website Performance Report",
  "nodes": [
    {
      "parameters": {
        "formTitle": "Conversion Rate Optimizer",
        "formDescription": "Your Landing Page is Leaking Sales—Fix It Now",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Landing Page Url",
              "placeholder": "https://onia.com/",
              "requiredField": true
            }
          ]
        },
        "options": {}
      },
      "id": "a4ffa050-8667-4979-8e26-444f1a483c50",
      "name": "Landing Page Url",
      "type": "n8n-nodes-base.formTrigger",
      "position": [
        -500,
        520
      ],
      "webhookId": "afe067a5-4878-4c9d-b746-691f77190f54",
      "typeVersion": 2.2
    },
    {
      "parameters": {
        "url": "=https://r.jina.ai/{{ $json['Landing Page Url'] }}",
        "options": {
          "timeout": 30000
        }
      },
      "id": "93d542a6-4273-496a-a6d1-a32fe2420c5e",
      "name": "Scrape Website",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        -300,
        260
      ],
      "typeVersion": 4.2
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "gpt-4o-mini"
        },
        "options": {}
      },
      "id": "a5c0b1b2-3534-4b11-a4a9-7844e80c9d03",
      "name": "OpenAI Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "position": [
        0,
        280
      ],
      "typeVersion": 1.2,
      "credentials": {
        "openAiApi": {
          "id": "wDEjVy3mckEpB2Xy",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "gpt-4o-mini"
        },
        "options": {}
      },
      "id": "413275ff-2651-48d9-ab10-e936ed6c2e3c",
      "name": "OpenAI Chat Model1",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "position": [
        40,
        660
      ],
      "typeVersion": 1.2,
      "credentials": {
        "openAiApi": {
          "id": "wDEjVy3mckEpB2Xy",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are the best SEO Manager in the country—a world-class expert in optimizing websites to rank on Google.\n\nIn this task, you will analyze the content of the webpage and perform a detailed and structured SEO Content Audit.\n\nAudit Structure\nYou will divide your audit in 2 parts:\n- The first part is the Analysis\n- The second is the Recommendations\n\nIn the Analysis, you will include:\n- Content Quality Assessment — Evaluate the content's overall quality, accuracy, and relevance to the target audience.\n- Keyword Research and Analysis — Identify primary and secondary keywords, keyword density, and keyword placement strategies.\n- Readability Analysis — Assess the content's readability score using metrics such as Flesch-Kincaid Grade Level, Flesch Reading Ease, and Gunning-Fog Index.\n\nIn the Recommendations, you will present your recommendations and actionable suggestions in clear, organized bullet points. Recommendations must improve the rankings in Google but also the user engagement. \n\nEnsure the output is properly formatted, clean, and highly readable. Do not include any introductory or explanatory text—only the audit findings.\n\nHere is the content of my landing page: {{ $json.data }}",
        "options": {}
      },
      "id": "8e00806b-deb1-4898-a504-366d1a72193e",
      "name": "Content Audit",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "position": [
        60,
        460
      ],
      "typeVersion": 1.7
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are the best SEO Manager in the country—a world-class expert in optimizing websites to rank on Google.\nIn this task, you will analyze the HTML code of a webpage and perform a detailed and structured On-Page Technical SEO Audit.\n\nAudit Structure\nYou will review all technical SEO aspects of the page. Once completed, you will present your findings and recommendations in clear, organized bullet points, categorized into three sections:\n- Critical Issues — Must be fixed immediately.\n- Quick Wins — Easy fixes with a big impact.\n- Opportunities for Improvement — Require more effort but offer potential benefits.\n\nEnsure the output is properly formatted, clean, and highly readable. Do not include any introductory or explanatory text—only the audit findings.\n\nHere is the content of my landing page: {{ $json.data }}",
        "options": {}
      },
      "id": "6be9def3-e115-42dc-b2d1-a8f4f5681e86",
      "name": "Technical Audit",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "position": [
        60,
        60
      ],
      "typeVersion": 1.7
    },
    {
      "parameters": {
        "numberInputs": 3
      },
      "id": "9df2bdfe-b90c-4739-8a51-d78a2a8353ae",
      "name": "Merge",
      "type": "n8n-nodes-base.merge",
      "position": [
        560,
        260
      ],
      "typeVersion": 3,
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "output"
            }
          ]
        },
        "options": {}
      },
      "id": "09317ae5-82f2-4a4c-9ed8-f7163827f732",
      "name": "Aggregate",
      "type": "n8n-nodes-base.aggregate",
      "position": [
        760,
        260
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "mode": "markdownToHtml",
        "markdown": "=# On-Page Technical Audit\n{{ $json.output[0] }}\n\n# On-Page SEO Content Audit\n{{ $json.output[1] }}\n\n# On-Page Additional Report\n{{ $json.output[2] }}",
        "options": {}
      },
      "id": "1dbdbde7-68b7-4d09-9b28-87b1162e9842",
      "name": "Markdown",
      "type": "n8n-nodes-base.markdown",
      "position": [
        960,
        260
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## Send Email \nConnect your credentials & Easily send emails from a Gmail address. ",
        "height": 100,
        "width": 360,
        "color": 3
      },
      "id": "390d1bc6-18f2-4db8-9c83-bce138818fd9",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1040,
        100
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## Open AI Setup\n- Add your credentials\n- Select o1 model for (way) better results. \n- One run = one page audit = around $0.3 with o1",
        "height": 140,
        "width": 420,
        "color": 3
      },
      "id": "b9803d70-a6af-4467-ae18-c845e5ee027f",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        0,
        -120
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "sendTo": "satyamatreja11@gmail.com",
        "subject": "=On-Page SEO Audit -  {{ $('Landing Page Url').item.json['Landing Page Url'] }}",
        "message": "={{ $json.data }}",
        "options": {}
      },
      "id": "6a91c673-9129-41ea-9d2f-93d7e8544cae",
      "name": "Send a message",
      "type": "n8n-nodes-base.gmail",
      "position": [
        1160,
        260
      ],
      "webhookId": "2979e4dc-1689-447e-8cd4-eb907b4eedf4",
      "typeVersion": 2.1,
      "credentials": {
        "gmailOAuth2": {
          "id": "Ru5y8GaP7Ibf5gp3",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "url": "=https://r.jina.ai/{{ $json['Landing Page Url'] }}",
        "options": {
          "timeout": 30000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -280,
        800
      ],
      "id": "0e93218b-1602-4cba-823e-f2127c93fc2d",
      "name": "Get News"
    },
    {
      "parameters": {
        "options": {
          "reset": false
        }
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        420,
        880
      ],
      "id": "f7c35ff4-7a6c-4169-8d0f-5b56abbb69a8",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "url": "=https://r.jina.ai/{{ $json.news_url }}",
        "options": {
          "timeout": 30000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        660,
        1000
      ],
      "id": "bc4d7237-3f74-453c-9a8d-9b17a6f7ffcf",
      "name": "Loop Through News"
    },
    {
      "parameters": {
        "jsCode": "// Retrieve the array of news URLs from the input data\nconst newsUrls = $input.first().json.message.content.news_urls;\n\n// Map each URL to its own output item\nconst output = newsUrls.map(url => {\n  return {\n    json: {\n      news_url: url\n    }\n  };\n});\n\n// Return the output array; n8n will treat each item separately\nreturn output;\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        180,
        880
      ],
      "id": "12f5281f-4ba8-43e8-8a45-3e4758d27af1",
      "name": "Code"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "GPT-4O-MINI"
        },
        "messages": {
          "values": [
            {
              "content": "You are a helpful news summarizer. ",
              "role": "system"
            },
            {
              "content": "=## Context\nYou will analyze a compilation of company news articles. Your task is to separate and summarize individual news items into structured, digestible insights. Focus on extracting the most impactful information from each article.\n\n## Task\nRead the news compilation and for each article:\n\nExtract key information\nCreate a structured summary\nInclude source details\n\n## Output Format\n\nFor each news item:\n\n[Company]:[Article Title]\n**Date**: [Publication Date if available]\n**Key Points**:\n- [First main insight]\n- [Second main insight]\n- [Third main insight]\n\n**Source**: [URL]\n\n---\n\n## Example:\n\nApple: Launches New AI Integration\n**Date**: February 6, 2025\n**Key Points**:\n- Company unveils neural engine for mobile devices\n- Partnership with leading AI research labs announced\n- Expected market release in Q3 2025\n\n**Source**: https://apple.com/apple-ai-news\n\n---",
              "role": "assistant"
            },
            {
              "content": "=The compilation you need to analyze: {{ $json.data }}"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        960,
        880
      ],
      "id": "de0f9dfe-ea67-4ff1-9dfa-661e1c31e275",
      "name": "Summary",
      "credentials": {
        "openAiApi": {
          "id": "wDEjVy3mckEpB2Xy",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "GPT-4O-MINI"
        },
        "messages": {
          "values": [
            {
              "content": "You are a helpful classifier.",
              "role": "system"
            },
            {
              "content": "=# Context\nYou will analyze company websites and news sections. Your task is to identify and extract URLs specifically related to company announcements, press releases, news articles, and blog posts that are dated. Focus on entries that have clear publication dates or timestamps.\n\n# Task\n\nRead the website content: {{ $json.data }}.\nFor context the date is {{ $now }}.\n\n## Extract URLs that match these criteria:\n\nContains news, press releases, or company updates\nHas a visible date nearby, indicating that this is a news\n\n## Ignore:\n\nProduct pages\nGeneral website sections\nUndated content\nOlder articles\n\n\n# Output format\n\nOutput the filtered URLs in JSON format:\n\n{\n  \"news_urls\": [\n    \"https://company.com/news/latest-announcement\",\n    \"https://company.com/news/new-product-launch\",\n    \"https://company.com/news/company-update\"\n  ]\n}\n\n# Important\n\nProvide all the links that match the requirements above with the limit of 15. Latest 15 order by date."
            }
          ]
        },
        "jsonOutput": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        -120,
        1180
      ],
      "id": "54d89aac-6e9a-44b8-82c6-fa0d3b5d6020",
      "name": "Message a model",
      "credentials": {
        "openAiApi": {
          "id": "wDEjVy3mckEpB2Xy",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "data"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        720,
        720
      ],
      "id": "5cafc015-32c9-4b80-9026-d7b92337b4f4",
      "name": "Aggregate1"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=In this task, you will analyze the data about Company News and latest updates posted on website itself.\nHere is the summary: {{ $json.message.content }}\n\nEnsure the output is properly formatted, clean, and highly readable. Do not include any introductory or explanatory text—only the audit findings.",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        1340,
        500
      ],
      "id": "aa180bd0-dac0-44a6-b9f4-e477249aef61",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        1400,
        740
      ],
      "id": "8e997baa-6b8d-40ab-8ebf-8fc2388617b6",
      "name": "OpenAI Chat Model2",
      "credentials": {
        "openAiApi": {
          "id": "wDEjVy3mckEpB2Xy",
          "name": "OpenAi account"
        }
      }
    }
  ],
  "connections": {
    "Merge": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Markdown": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "Markdown",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Content Audit": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Scrape Website": {
      "main": [
        [
          {
            "node": "Content Audit",
            "type": "main",
            "index": 0
          },
          {
            "node": "Technical Audit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Technical Audit": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Landing Page Url": {
      "main": [
        [
          {
            "node": "Scrape Website",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get News",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Technical Audit",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Content Audit",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Get News": {
      "main": [
        [
          {
            "node": "Message a model",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "Aggregate1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Loop Through News",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Through News": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate1": {
      "main": [
        [
          {
            "node": "Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Summary": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 2
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "pinData": {},
  "triggerCount": 1,
  "meta": {
    "templateCredsSetupCompleted": true
  }
}
