sendmail.json
{
  "name": "Fire Company Email Campaign - Google Sheets & Gmail",
  "nodes": [
    {
      "parameters": {},
      "id": "a1b2c3d4-e5f6-7890-abcd-ef1234567890",
      "name": "When clicking 'Test workflow'",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "operation": "readRows",
        "documentId": {
          "__rl": true,
          "value": "YOUR_GOOGLE_SHEET_ID",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Sheet1",
          "mode": "name"
        },
        "options": {
          "range": ""
        }
      },
      "id": "b2c3d4e5-f6a7-8901-bcde-f12345678901",
      "name": "Read Google Sheet",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [450, 300],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "1",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.email }}",
              "operation": "isNotEmpty"
            },
            {
              "value1": "={{ $json.email }}",
              "operation": "contains",
              "value2": "@"
            }
          ]
        }
      },
      "id": "c3d4e5f6-a7b8-9012-cdef-123456789012",
      "name": "Filter Valid Emails",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 1,
      "position": [650, 300]
    },
    {
      "parameters": {
        "sendTo": "={{ $json.email }}",
        "subject": "Quick question about your daily visit scheduling",
        "emailType": "html",
        "message": "=Hi Sir/Mam,<br><br>I'm Periyanan, the founder of <strong>InspectFire</strong> — a simple CRM built specifically for fire protection companies that currently use Excel for scheduling and collections.<br><br>Most fire service teams lose time every week because:<br><ul><li>Schedules are scattered across spreadsheets</li><li>Technicians are unsure which houses to visit each day</li><li>Collections and reminders are difficult to track</li><li>Missed alerts lead to missed revenue</li><li>There's no central place to manage visits, alerts, or payments</li></ul><br>So we built <strong>InspectFire</strong> — a lightweight CRM designed only for fire service operations:<br><ul><li>Daily visit scheduling</li><li>Automatic visit reminders</li><li>Technician mobile login</li><li>Payment collection tracking</li><li>Service alerts</li><li>Complete customer history</li><li>Easy onboarding — start using it the same day</li><li>Only $20 per month</li></ul><br>Fire companies using InspectFire are saving hours each week and improving collections without changing their workflow.<br><br>Would you be open to a quick 15-minute demo?<br><br>Best regards,<br>Periyanan<br>Founder, InspectFire",
        "options": {}
      },
      "id": "d4e5f6a7-b8c9-0123-def1-234567890123",
      "name": "Send Gmail",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2,
      "position": [850, 300],
      "credentials": {
        "gmailOAuth2": {
          "id": "2",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "amount": 3,
        "unit": "seconds"
      },
      "id": "e5f6a7b8-c9d0-1234-ef12-345678901234",
      "name": "Wait Between Emails",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [1050, 300]
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "YOUR_GOOGLE_SHEET_ID",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Sheet1",
          "mode": "name"
        },
        "columnToMatchOn": "email",
        "valueOfColumnToMatchOn": "={{ $json.email }}",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldName": "email_sent",
              "fieldValue": "=Yes"
            },
            {
              "fieldName": "sent_date",
              "fieldValue": "={{ $now.toFormat('yyyy-MM-dd HH:mm:ss') }}"
            }
          ]
        },
        "options": {}
      },
      "id": "f6a7b8c9-d0e1-2345-f123-456789012345",
      "name": "Update Sheet - Email Sent",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [1250, 300],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "1",
          "name": "Google Sheets account"
        }
      }
    }
  ],
  "connections": {
    "When clicking 'Test workflow'": {
      "main": [
        [
          {
            "node": "Read Google Sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Google Sheet": {
      "main": [
        [
          {
            "node": "Filter Valid Emails",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter Valid Emails": {
      "main": [
        [
          {
            "node": "Send Gmail",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Gmail": {
      "main": [
        [
          {
            "node": "Wait Between Emails",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait Between Emails": {
      "main": [
        [
          {
            "node": "Update Sheet - Email Sent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {}
}
